.form_input__search {
  @extend %form_input_search;
}

.aside__search {
  position: relative;
}
.icon_20 {
  width: 20px;
  height: 20px;
}

.form_input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
