//---------------------------------------------sections
.section {
  position: relative;
  width: 100%;

  font-size: 3rem;
}

.section {
  padding: 0 2rem;
}

.section__wrap {
  max-width: $page_width;
  width: 100%;
  margin: 0 auto;
}

.section__header {
  margin: 0 0 1.4em 0;
}

.section__body {
  @include flex_block(row, nowrap, space-between, flex-start, center);
}

@include bp($point_2, max) {
  .section__body {
    flex-wrap: wrap;
  }
}
