extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	section.section
		.section__wrap
			.section__header
				include ../blocks/nav
			.section__body
				include ../blocks/article

				include ../blocks/aside