extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	section.section
		.section__wrap
			.section__header
				.section__nav.nav
					.nav_body
						.nav_menu
							span.nav_menu__label tags:
							+listLink({
							gl_class: 'nav_menu',
							items: [
								{title: 'bitcoin'},
								{title: 'bittorrent'},
								{title: 'irc'},
								{title: 'news'},
								{title: 'privacy'},
								{title: 'programming'},
								{title: 'security'}
							]
						})
						.nav__contact
							+listLink({
							gl_class: 'nav_contact',
							items:[
								{title: 'team'},
								{title: 'contact'}
							]
							})
			.section__body
				.section__article.article
					h1.article__title Recent posts
					.article__body
						+articlePost({
							items: [
								{
								description: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
								url: '1.html',
								image: '/img/Bitmap-1.jpg',
								image_alt: 'Alt Description',
								author: 'Derek Zimmer',
								date: 'JUL 25, 2018',
								tag: 'Governments, Networking, Open Source, Privacy, Security',
								value: '0'
								},
								{
								description: 'How to get cheaper flights using a VPN',
								url: '1',
								image: '/img/Bitmap-2.jpg',
								image_alt: 'Alt Description',
								author: 'Jayson',
								date: 'JUL 24, 2018',
								tag: 'Guides',
								value: '2'
								},
								{
								description: 'Net Neutrality was repealed, but the fight is far from over',
								url: '1',
								image: '/img/Bitmap-3.jpg',
								image_alt: 'Alt Description',
								author: 'Chris Miller',
								date: 'JUL 22, 2018',
								tag: 'Governments, Net Neutrality, News',
								value: '26'
								},
								{
								description: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
								url: '1',
								image: '/img/Bitmap-1.jpg',
								image_alt: 'Alt Description',
								author: 'Derek Zimmer',
								date: 'JUL 25, 2018',
								tag: 'Governments, Networking, Open Source, Privacy, Security',
								value: '0'
								},
								{
								description: 'How to get cheaper flights using a VPN',
								url: '1',
								image: '/img/Bitmap-2.jpg',
								image_alt: 'Alt Description',
								author: 'Jayson',
								date: 'JUL 24, 2018',
								tag: 'Guides',
								value: '2'
								},
								{
								description: 'Net Neutrality was repealed, but the fight is far from over',
								url: '1',
								image: '/img/Bitmap-3.jpg',
								image_alt: 'Alt Description',
								author: 'Chris Miller',
								date: 'JUL 22, 2018',
								tag: 'Governments, Net Neutrality, News',
								value: '26'
								}
							]
							})
					a.article_btn(href="#") older posts

				aside.section__aside.aside
					.aside__search
						+form_input({
							type: 'text',
							placeholder: 'Search blog',
							mod:'search',
							class:'form_input-search',
							name:'search'
						})

					.aside__announce
						h3.aside__title #[span.aside__icon.aside__icon-annonce] Announcements
						+listLink({
						gl_class: 'aside',
						items: [
							{title: 'Upcoming Changes (Live Chat, Less Censorship, More Access)'},
							{title: 'New Servers (US Washington DC)'},
							{title: 'New Servers (US Denver)'},
							{title: 'Open Source: Releasing the PIA iOS Client'},
							{title: 'Opera Extension is now available'}
						]
						})
					.aside__popular 
						h3.aside__title #[span.aside__icon.aside__icon-popular]Popular posts
						+listLink({
						gl_class: 'aside',
						items: [
							{title: 'The Gift of Privacy'},
							{title: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture'},
							{title: 'About the PIA Client Security and VPN Security in General'},
							{title: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech'},
							{title: 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lieet'}
						]
						})
					.aside__banner
						a.aside__banner-link(href="#")
							img(src="img/banner.jpg", alt="Banner")
					.aside__tag 
						h3.aside__title Tag cloud
						+listLink({
						gl_class: 'aside-tag',
						items: [
							{title: 'Lorem'},
							{title: 'ipsum'},
							{title: 'dolor'},
							{title: 'sit'},
							{title: 'amet', url: 'page1.html', active: true},
							{title: 'consectetur'},
							{title: 'adipisicing'},
							{title: 'elit'},
							{title: 'Tempore'},
							{title: 'officiis'},
							{title: 'ipsam'},
							{title: 'labore', url: 'page2.html', active: true},
							{title: 'totam'},
							{title: 'totam'},
							{title: 'possimus'},
							{title: 'necessitatibus', url: 'page1.html', active: true},
							{title: 'Minima'},
							{title: 'maiores'},
							{title: 'elit'},
							{title: 'architecto'},
							{title: 'nam'},
							{title: 'ipsam'},
							{title: 'quaerat', url: 'page2.html', active: true},
						]
						})